body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #36A2EB;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.country-form {
    text-align: center;
    margin-top: 20px;
}

.country-form select {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    max-width: 200px;
    background-color: #36A2EB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3393DB;
}

.chart-container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#driver-details {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.driver {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.driver h3 {
    margin-top: 0;
    color: #36A2EB;
}

.driver p {
    margin: 5px 0;
}
